/dist
/build
*.class
*.exe
*.meta
/Assets/Scripts/Game2
/Assets/Scripts/Game3
*.csproj
*.sln
*.user
*.userosscache
*.userprefs
*.userwidth
*.vspscc
*.suo
*.vssscc
*.json
*.cache
library/
/Temp
/ObjectCache
/obj
/Logs
/Library
/UserSettings
/Local